.header {
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 10rem;
    height: 3rem;
}

.header-menu {
    list-style: none;
    display: flex;
    gap: 2rem;
    color: #fff;
}

.header-menu>li {
    cursor: pointer;
}

.header-menu>li:hover {
    color: var(--orange);
}

.bars-wrapper {
    padding: 0.5rem; 
    background-color: var(--appColor);
    border-radius: 5px;
    position: fixed;
    right: -50%;
    z-index: 99;
    display: none;
}

@media screen and (max-width: 768px) {
    .header>.header-menu{
        position: fixed;
        top: 5rem;
        right: -50%;
        z-index: 99;
    }
    .header>.header-menu.show {
        right: 2rem;
    }
    .header-menu {
        flex-direction: column;
        background-color: var(--appColor);
        padding: 2rem;
    }
    
.bars-wrapper {
    right: 2rem;
    display: block;
}
}











